<h2>見つかりましたか？</h2>

<%= form_with model: @search_post, local: true do |f| %>
  <div>
    <%= f.label :item_name, "探し物" %>
    <%= f.text_field :item_name %>
  </div>

  <div>
    <%= f.label :status, "ステータス" %>
    <%= f.select :status, SearchPost.statuses.keys.map { |w| [I18n.t("activerecord.attributes.search_post.status.#{w}"), w] } %>
  </div>

  <div>
    <%= f.label :found_place, "見つけた場所" %>
    <%= f.text_field :found_place %>
  </div>

  <%= f.submit "更新する" %>
<% end %>