<% if user_signed_in? %>
  <%= link_to "マイページ", user_path(current_user) %> |
  <%= link_to "投稿する", new_search_post_path, class: "btn-success" %> |
  <%= link_to "ログアウト", destroy_user_session_path, method: :delete %>
<% else %>
  <p>ログインまたは新規登録をしてください</p>
  <%= link_to "ログイン", new_user_session_path, class: "btn btn-primary" %> |
  <%= link_to "新規登録", new_user_registration_path, class: "btn btn-success" %>
<% end %>

<hr>

<% if @search_posts.present? %>
  <% @search_posts.each do |post| %>
    <div class="card mb-3">
      <div class="card-body">
        <%= truncate(post.item_name, length: 100) %></p>
        <%= post.user.nickname %>
      </div>
    </div>
  <% end %>
<% else %>
  <p>投稿がまだありません</p>
<% end %>