<% if user_signed_in? %>
  <p>ようこそ、<%= current_user.nickname %>さん！</p>
  <%= link_to "マイページ", user_path(current_user) %> |
  <%= link_to "ログアウト", destroy_user_session_path, method: :delete %>
<% else %>
  <p>ログインまたは新規登録をしてください</p>
  <%= link_to "ログイン", new_user_session_path %> |
  <%= link_to "新規登録", new_user_registration_path %>
<% end %>
